<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div>
  <%= link_to "Edit this todo list", edit_todo_list_path(@todo_list), id: "todo-edit" %> |
  <%= link_to "Back to todo lists", todo_lists_path, id: "todo-back-to-list" %>

  <%= button_to "Destroy this todo list", @todo_list, method: :delete, id: "todo-destroy" %>
</div>
